<%= title t("order_status") %>

<% content_for :right do -%>
	<li class="active">
		<%= link_to t(:edit), edit_order_status_path(@order_status) %>
	</li>
	<li class="active">
		<%= link_to t(:back), order_statuses_path %>
	</li>
<% end -%>

	<p>
	  <small><%= t(:name, scope: "activerecord.attributes.order_status") %>:</small>
	  <h3><%= @order_status.name %></h3>
	</p>
