<%= title t(:order, scope: "activerecord.models.mechanize_store").pluralize %>

<div class="well">
  <%= search_form_for [:admin, @search], :html => { :method => :get } do |f| %>
    <div class="form-group">
        <div class="row">
          <div class="col-lg-2">
            <%#= f.select :order_status_eq, options_for_select(@order_statuses.collect{|c| [c.name, c.id]}, params[:q][:order_status_eq].to_i), { :include_blank => t(:order_status, scope: "activerecord.models.mechanize_store") }, { class: "form-control" } %>
          </div>

          <div class="col-lg-2">
            <%#= f.select :payment_payment_status_eq, options_for_select(@payment_statuses.collect{|c| [c.name, c.id]}, params[:q][:payment_payment_status_eq].to_i), { :include_blank => t(:payment_status, scope: "activerecord.models.mechanize_store") }, { class: "form-control" } %>
          </div>

          <div class="col-lg-2">
            <div class="form-group">
              <div class="input-group">
                <%#= f.text_field :created_at_gteq, alt: 'date', placeholder: t(:date_begin), value: params[:q][:created_at_gteq], as: :string, class: "datepicker form-control" %>
                <span class="input-group-addon">
                  <i class="fa fa-calendar" data-time-icon="fa fa-time" data-date-icon="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="col-lg-2">
            <div class="form-group">
              <div class="input-group">
                <%#= f.text_field :created_at_lteq, alt: 'date', placeholder: t(:date_end), value: params[:q][:created_at_lteq], as: :string, class: "datepicker form-control" %>
                <span class="input-group-addon">
                  <i class="fa fa-calendar" data-time-icon="fa fa-time" data-date-icon="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
    </div>

      <%= f.submit t(:search), class: "btn btn-primary" %>
  <% end -%>
</div>

<div class="clearfix"></div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@search, :id, t(:id, scope: "activerecord.attributes") ) %></th>
      <th><%= sort_link(@search, :order_status, t(:order_status_id, scope: "activerecord.attributes.mechanize_store/order") ) %></th>
      <th>
        <%= sort_link(@search, :order_payment_payment_status, t(:payment_status, scope: "activerecord.attributes.mechanize_store/payment") ) %>
      </th>
      <th><%= sort_link(@search, :generated_at, t(:generated_at, scope: "activerecord.attributes.mechanize_store/order") ) %></th>
      <th><%= sort_link(@search, :delivery_date, t(:delivery_date, scope: "activerecord.attributes.mechanize_store/order") ) %></th>
      <th><%= sort_link(@search, :created_at, t(:created_at, scope: "activerecord.attributes.mechanize_store/order") ) %></th>
      <th><%= t(:options, scope: "activerecord.attributes.order") %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.order_status.name %></td>
        <td>
          <span class="label label-<%= order.payment.payment_status.id == PaymentStatus::ACCOMPLISHED ? 'success' : 'danger' %>">
            <%= order.payment.payment_status.name %>
          </span>
        </td>
        <td><%= l(order.generated_at) unless order.generated_at.nil? %></td>
        <td><%= l(order.delivery_date) unless order.generated_at.nil? %></td>
        <td><%= l(order.created_at) unless order.created_at.nil? %></td>
        <td>
            <%= link_to admin_order_path(order) do %>
                <i class="fa fa-file"></i>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :footer do %>
  <%= will_paginate @orders, class: "pagination pull-right" %>
  <div class="clearfix"></div> 
<% end %>